@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   height: 100%;
   font-family: "Roboto", Sans-Serif;
  
} 
/*  .firstDisplay{
  display: grid;
  grid-area: firstDisplay;
 }
 .symbolDisplay{
  grid-area: symbolDisplay;
    display: grid;
 
 }
 .equalsTop{
  grid-area: equalsTop;
   display: grid;
 }
 .display{
  grid-area: display;
  display: grid;
 }
 .secondDisplay{
  grid-area: secondDisplay;
    display: grid;
 } */
.operandContainer {
  display: grid;
  width: 100%;
grid-template-columns: 47.5% 37.5% 35%;
  font-family: "Roboto", sans-serif;
} 
.equalsTopContainer {
  display: grid;
  width: 100%;
  justify-content: center;
grid-template-columns: 100%;
  font-family: "Roboto", sans-serif;
} 
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Roboto", sans-serif;
}
.symbolsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Roboto", sans-serif;
}
.equalsContainer {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  font-family: "Roboto", sans-serif;
}
button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}
 button:hover {
  background-color: #eaeaea;
}
.operator {
  color: #337cac;
}
.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}
.all-clear:hover {
  background-color: #f17377;
}
.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
}
.equal-sign:hover {
  background-color: #4e9ed4;
} 
